body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin: 0px;
}

input[type=text],input[type=number], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=color] {
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 6px;
}

input[type=submit], input[type=button] {
    background-color: #006400;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    float: left;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.canvascontainer {
    width: 100%;
    padding-top: 12px;
    overflow: scroll;
    float: left;
    background-color: #f2f2f2;
}

canvas {
    border:1px solid #000000;
}

.invisible {
    visibility: hidden;
}

.small {
    font-size: small;
}

.colors {
    width: 100%;
}

.colorcol label {
    font-size: small;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.colorcol {
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 580px) {
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width: 380px) {
    .colorcol {
        width: 40%;
        margin-top: 0;
    }

    .colorcol label {
        width: 30px;
    }
}

.topnav {
    background-color: #87ceeb;
    padding-left: 20px;
    overflow: hidden;
}